<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tradutor de Texto para Fala</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Tradutor de Texto para Fala</h1>
        <div class="form-group">
            <label for="text-to-translate">Texto Gravado:</label>
            <textarea id="text-to-translate" rows="5"></textarea>
            <button onclick="startRecognition()">
                <img src="https://img.icons8.com/ios-glyphs/30/000000/microphone.png"/>
            </button>
        </div>
        <div class="form-group">
            <label for="language-select">Selecionar Idioma:</label>
            <select id="language-select">
                <option value="en">Inglês</option>
                <option value="es">Espanhol</option>
                <option value="fr">Francês</option>
                <!-- Adicione mais opções conforme necessário -->
            </select>
            <button onclick="translateText()">
                <img src="https://img.icons8.com/ios-glyphs/30/000000/google-translate.png"/>
            </button>
        </div>
        <div class="form-group">
            <label for="translated-text">Texto Traduzido:</label>
            <textarea id="translated-text" rows="5" readonly></textarea>
            <button onclick="speakText()">Reproduzir Tradução</button>
        </div>
        <div class="form-group">
            <form id="upload-form" enctype="multipart/form-data">
                <label for="pdf-file">Carregar PDF:</label>
                <input type="file" id="pdf-file" name="file" accept=".pdf">
                <button type="button" onclick="uploadPDF()">Traduzir PDF</button>
            </form>
            <a id="download-link" style="display: none;">Baixar PDF Traduzido</a>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>
</html>
