<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tradutor de Texto para Fala</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Tradutor de Texto para Fala</h1>
        <div class="form-group">
            <label for="text-to-translate">Texto Gravado:</label>
            <textarea id="text-to-translate" placeholder="Digite o texto para traduzir"></textarea>
        </div>
        <div class="form-group">
            <button id="microphone-button" type="button" onclick="startRecognition()">
                <img src="{{ url_for('static', filename='images/microfone.png') }}" alt="Microfone">
            </button>
        </div>
        <div class="form-group">
            <label for="language-select">Selecionar Idioma:</label>
            <select id="language-select">
                <option value="es">Espanhol</option>
                <option value="fr">Francês</option>
                <option value="de">Alemão</option>
                <option value="en">Inglês</option>
                <!-- Adicione mais opções de idiomas conforme necessário -->
            </select>
        </div>
        <div class="form-group">
            <button id="translate-button" type="button" onclick="translateText()">
                <img src="{{ url_for('static', filename='images/traduzir.png') }}" alt="Traduzir">
            </button>
        </div>
        <div class="form-group">
            <label for="translated-text">Texto Traduzido:</label>
            <textarea id="translated-text" readonly></textarea>
        </div>
        <div class="form-group">
            <button id="speak-button" type="button" onclick="speakText()">Reproduzir Tradução</button>
        </div>
        <div class="form-group">
            <h2>Upload de PDF para Tradução</h2>
            <form id="upload-form" enctype="multipart/form-data">
                <input type="file" id="file-input" name="file" accept=".pdf">
                <select id="pdf-language-select" name="language">
                    <option value="es">Espanhol</option>
                    <option value="fr">Francês</option>
                    <option value="de">Alemão</option>
                    <option value="en">Inglês</option>
                    <!-- Adicione mais opções de idiomas conforme necessário -->
                </select>
                <button type="button" onclick="uploadPDF()">Enviar PDF</button>
            </form>
            <a id="download-link" style="display:none;">Baixar PDF Traduzido</a>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>
</html>
